.building {
    position: absolute;
    z-index: 10;
}

.temple {
    height: 70px;
}

.village {
    height: 60px;
}

.cabane {
    height: 40px;
}

.house {
    height: 60px;
}

.camp {
    height: 40px;
}

.pont {
    height: 40px;
}

.bac, .ferry {
    height: 30px;
}

.stag {
    height: 100px;
}
