.fog {
    position: absolute;
    opacity: 0.9;
}

.fog:hover {
    cursor: pointer;
}

.light {
    opacity: 0.7;
}

.visited {
    opacity: 0;
}

.building {
    position: absolute;
    z-index: 10;
}

.resources {
    position: absolute;
    display: none;
    z-index: 10;
}

.misc{ 
    position: absolute; 
    display: none;
    z-index: 10;
}

.battle{
    position: absolute;
    display: none;
    height: 70px;
    z-index:10;
}

