.fog {
    position: absolute;
}

.fog:hover {
    cursor: pointer;
}

.visited {
    opacity: 0 !important;
}

.building {
    position: absolute;
    z-index: 10;
    font-size: 40px;
}

.resources {
    position: absolute;
    z-index: 10;
    font-size: 40px;
}

.misc { 
    position: absolute; 
    display: none;
    z-index: 10;
    font-size: 40px;
}


.armies {
    position: absolute;
    z-index: 10;
}

.castle2 { font-size: 60px; }
.cabane { font-size: 40px; }
.camp { font-size: 40px; }
.dolmen{ font-size: 60px; }
.elk{ font-size: 60px; }

.ferry { font-size: 30px; }
.hill{ font-size: 60px; }
.house { font-size: 50px; }

.mine { font-size: 40px; }
.pont { font-size: 40px; }
.ruine{ font-size: 65px; }
.mushroom { font-size: 30px; }

.sign{ font-size: 65px; }
.spider{ font-size: 70px; }
.stag { font-size: 70px; }
.temple { font-size: 70px;}
.tree{ font-size: 70px; }
.village { font-size: 50px;}
.wheat { font-size: 55px; }

.footmen { font-size: 55px; }
.horsemen { font-size: 55px; }
.bowmen { font-size: 55px; }

.castle { font-size: 60px; }

