.fog {
    position: absolute;
    opacity: 0.9;
}

.fog:hover {
    cursor: pointer;
}

.visited {
    opacity: 0;
}

.building {
    position: absolute;
    z-index: 10;
    font-size: 40px;
}

.resources {
    position: absolute;
    display: none;
    z-index: 10;
    font-size: 40px;
}

.misc{ 
    position: absolute; 
    display: none;
    z-index: 10;
    font-size: 40px;
}

.cabane { font-size: 40px; }
.camp { font-size: 40px; }
.dolmen{ height: 60px; }

.ferry { font-size: 30px; }
.hill{ height: 60px; }
.house { font-size: 60px; }

.mine { height: 70px; }
.pont { font-size: 40px; }
.ruine{ font-size: 65px; }

.sign{ font-size: 65px; }
.spider{ height: 70px; }
.stag { font-size: 100px; }
.temple { font-size: 70px;}
.tree{ font-size: 70px; }
.village { font-size: 60px;}
.wheat { font-size: 70px; }

