.testBkg{
    background-image: url("../images/faction-background.png");
    height: 279px;
    width: 260px;
    text-align: center;
    vertical-align: middle;
    line-height: 270px;
}

.villagePicker{
    position: absolute;
    font-family: "pics";
    font-size: 70px;
    left: 80px;
}

.factionBox{
    width: 30px;
}

.factionName{
    width: 250px;
}

.vassalFactionName{
    width: 215px;
}

.elementName{
    width: 100%;
}

.vassalSpace {
    padding-left: 15px !important;
}

.icon-inheritance {
    color: #dadada;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 5px;
}