.testBkg{
    background-image: url("../images/test-background.png");
    height: 200px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

.villagePicker{
    font-family: "pics";
    font-size: 70px;
    top: 55px;
    position: absolute;
    left: 40px;
}

.factionBox{
    width: 30px;
}

.factionName{
    width: 250px;
}

.factionStyling{
    font-size: 0.8em;
    border: 0px solid white;
}

.deleteFaction:hover{
    cursor: pointer;
}