.testBkg{
    background-image: url("../images/test-background.png");
    height: 200px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

.villagePicker{
    font-family: "pics";
    font-size: 70px;
}

.villagePicker:before{
    content: '\e819';
}

.factionBox{
    width: 30px;
}

.factionName{
    width: 120px;
}

.deleteFaction:hover{
    cursor: pointer;
}