.fog {
    width: 230px;
    height: 266px;
    background-color: grey;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


.clip{
    clip-path: url(#a);
    clip-path: url(#b);
}