.fog {
    position: absolute;
    opacity: 0.9;
}

.fog:hover {
    cursor: pointer;
}

.light {
    opacity: 0.7;
}

.visited {
    opacity: 0;
    /* visibility:hidden; */
    /* display: none; */
}
