@font-face {
  font-family: 'pics';
  src: url('../font/pics.woff?') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pics";
  font-style: normal;
  font-weight: normal;
}