@font-face {
    font-family: 'pics';
    src: url('../font/pics.eot?81754365');
    src: url('../font/pics.eot?81754365#iefix') format('embedded-opentype'),
         url('../font/pics.woff2?81754365') format('woff2'),
         url('../font/pics.woff?81754365') format('woff'),
         url('../font/pics.ttf?81754365') format('truetype'),
         url('../font/pics.svg?81754365#pics') format('svg');
    font-weight: normal;
    font-style: normal;
  }
   
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "pics";
    font-style: normal;
    font-weight: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
    margin-left: 0 !important;
}


