@font-face {
    font-family: 'pics';
    src: url('../font/pics.eot?37382559');
    src: url('../font/pics.eot?37382559#iefix') format('embedded-opentype'),
         url('../font/pics.woff2?37382559') format('woff2'),
         url('../font/pics.woff?37382559') format('woff'),
         url('../font/pics.ttf?37382559') format('truetype'),
         url('../font/pics.svg?37382559#pics') format('svg');
    font-weight: normal;
    font-style: normal;
  }
   
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "pics";
    font-style: normal;
    font-weight: normal;
}
