.hide{
    display:none;
}

.editorBackground{
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 6460px;
    height: 2260px;
    background-color : white;
    opacity: 0.8;
    display: none;
}

.inFront{
    z-index: 1001 !important;
}

.background {
    position: relative;
    top: 0;
    left: 0;
}

.gimmeSpace{
    margin-top:5px;
    margin-bottom:5px;
}

.gimmeOtherSpace{
    margin-left:5px;
}

.gimmeFullSpace{
    margin: 5px 5px 5px 5px;
}

.dockRight{
    margin-left:auto;
    margin-right:5px;
}

.file > input
{
    display: none;
}

.checkboxDisplay {
    display: block;
}

.player {
    position: absolute;
    top: 205px;
    left: 4335px;
    width: 100px;
    z-index: 200;

    user-select: none;
}


.mapDecorationToolBox{
    width:200px;
    height:200px;
    background-color: white;
    display:none;
}

.field{
    display:block;
}


/* @font-face {
      font-family: 'pics';
      src: url('./font/pics.eot?49113644');
      src: url('./font/pics.eot?49113644#iefix') format('embedded-opentype'),
           url('./font/pics.woff?49113644') format('woff'),
           url('./font/pics.ttf?49113644') format('truetype'),
           url('./font/pics.svg?49113644#pics') format('svg');
      font-weight: normal;
      font-style: normal;
  }
    */
  .icon{
    font-family: "pics";
    font-size: 50px;
  }