.editorBackground{
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 6450px;
    height: 2250px;
    background-color : white;
    opacity: 0.8;
    display: none;
}

.inFront{
    z-index: 1001 !important;
}

.background {
    position: relative;
    top: 0;
    left: 0;
}

.wrapper {
    position: fixed;
    background: white;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
    top: 1em;
    right: 1em;
    z-index: 100;
    opacity: 0.5;
}

.wrapper:hover {
    opacity: 1;
}

.saveMap{
    display:none;
}

.displayer{
    display:none;
}

.gimmeSpace{
    margin-top:5px;
    margin-bottom:5px;
}

.gimmeFullSpace{
    margin: 5px 5px 5px 5px;
}

.dockRight{
    margin-left:auto;
    margin-right:5px;
}

.file > input
{
    display: none;
}

.hide {
    display: none;
}

.checkboxDisplay {
    display: block;
}

.player {
    position: absolute;
    top: 205px;
    left: 4335px;
    width: 100px;
    z-index: 200;

    user-select: none;
}


.mapDecorationToolBox{
    width:200px;
    height:200px;
    background-color: white;
    display:none;
}

.editField{
    display:block;
}

.editMapDecoration{
    background-color: white;
    display: none;
}

.centerMapDecoration{
    z-index: 1000;
    position: absolute;
}​