/* .decorationFaction{
    width: 100%;
} */


.save{
    margin-top:10px;
}

.deleteDecoration{
    display: -webkit-inline-box;
    height: 20px;
    font-size: 25px;
    position: absolute;
    right: 17px;
    margin-top: 8px;
    color: #000;
    opacity: 0.7;
    bottom: 20px;
    left: 5px;
}

.delete{
    display: -webkit-inline-box;
    height: 20px;
    font-size: 15px;
    position: absolute;
    right: 17px;
    margin-top: 8px;
    color: #666;
    opacity: 0.7;
}


.add{
    display: -webkit-inline-box;
    height: 20px;
    font-size: 20px;
    position: absolute;
    left: 15px;
    bottom: 10px;
    color: #666;
}

.add:hover,
.delete:hover,
.icon{
    cursor: pointer;
}

.correctPos{
    margin-left: -2px;
}

.container{
    margin: 0;
}

.question{
    width: 240px;
}

.askQuestion{
  width: 100%;
  margin: 0 auto;
}

.openOrCreateMap{
    width: 235px; /* Size of the icons + 2*padding */
    padding: 10px;
    margin: auto;
}

.fr{
    float:right;
}

.menu{
    z-index: 1000;
    position: absolute;
    border: 1px solid #C0B391;
    background-color : white;
    
}

.mapMenu{
    display: block;
    flex-direction: column;
}

input,
select{
    font-size: 0.7em;
    border: 2px solid #dadada;
    border-radius: 5px;
    padding-left: 5px;
}

input{
    width: 100%;
}

select{
    width: 87%;
}

input:focus,
select:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.factionCategories{
    background: #fff;
    border: 2px solid #dadada;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.factionCategories select{
    border: 0;
    border-radius: 0;
    width: 100%;
    font-size: 0.7em;
}

#decorationDdlType{
    border: 2px solid #dadada;
    width: 250px;
}

.dd-container{
    width: 250px;
}

.dd-selected-image, .dd-option-image{
    max-height: 30px !important;
    max-width: 30px !important;
}

.wrapper{
    position: fixed;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
    top: 1em;
    
    z-index: 100;
}

.wrapper:hover{
    opacity: 1;
}

.wrapperRight{
    right: 1em;
}

.wrapperLeft{
    left: 1em;
    width: 175px;
}

.bigIcon{
    font-size: 100px;
    margin-right: 0 ! important; /*overload the font css*/
}

.iconContainer{
    width:100px;
    margin-left: 25px;
}

.title{
    text-decoration: underline;
    display: inline-flex;
}

.visibilityTitle{
    font-size: 20px;
}

.factionTitle{
    height: 45px;
}

.saveTitle{
    height: 30px;
}

.centerSave{
    margin-left: 20px;
}

.slidecontainer {
    width: 100%;
}

.subtitle {
    font-size: 0.7em;
}