.save{
    margin-top:10px;
}

.delete{
    display: -webkit-inline-box;
}

.icon-delete{
    height:20px;
    font-size: 20px;
}

.container{
    margin: 0;
}

.question{
    width: 240px;
}

.askQuestion{
  width: 100%;
  margin: 0 auto;
}

.openOrCreateMap{
    width: 270px;
    padding: 10px;
    margin: auto;
}

.fr{
    float:right;
}

.menu{
    z-index: 1000;
    position: absolute;
    border: 1px solid #C0B391;
    background-color : white;
}

.dd-selected-image, .dd-option-image{
    max-height: 30px !important;
    max-width: 30px !important;
}

.wrapper{
    position: fixed;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
    top: 1em;
    
    z-index: 100;
    opacity: 0.5;
}

.wrapper:hover{
    opacity: 1;
}

.wrapperRight{
    right: 1em;
}

.wrapperLeft{
    left: 1em;
    width: 175px;
}

.bigIcon{
    font-size: 100px;
}

.iconContainer{
    width:100px;
}

.menuIcon{
    color: black;
}

.title{
    color: black;
    text-decoration: underline;
}

.visibilityTitle{
    height: 50px;
}

.factionTitle{
    height: 45px;
}

.saveTitle{
    height: 30px;
}