.openOrCreateMap{
    display:inline-flex;
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: auto;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
}

.fr{
    float:right;
}

.menu{
    z-index: 1000;
    position: absolute;
    border: 1px solid #C0B391;
    background-color : white;
}

.dd-selected-image, .dd-option-image{
    max-height: 30px !important;
    max-width: 30px !important;
}
