
.icon-bridge:before { content: '\e800'; } /* '' */
.icon-cabane:before { content: '\e801'; } /* '' */
.icon-cairn:before { content: '\e802'; } /* '' */
.icon-camp:before { content: '\e803'; } /* '' */
.icon-candle:before { content: '\e804'; } /* '' */
.icon-castle:before { content: '\e805'; } /* '' */
.icon-cave:before { content: '\e806'; } /* '' */
.icon-clay:before { content: '\e807'; } /* '' */
.icon-cottage:before { content: '\e808'; } /* '' */
.icon-crow:before { content: '\e809'; } /* '' */
.icon-add:before { content: '\e80a'; } /* '' */
.icon-bowmen:before { content: '\e80b'; } /* '' */
.icon-footmen:before { content: '\e80c'; } /* '' */
.icon-gear:before { content: '\e80d'; } /* '' */
.icon-hill:before { content: '\e80e'; } /* '' */
.icon-hive:before { content: '\e80f'; } /* '' */
.icon-horsemen:before { content: '\e810'; } /* '' */
.icon-house:before { content: '\e811'; } /* '' */
.icon-information:before { content: '\e812'; } /* '' */
.icon-inn:before { content: '\e813'; } /* '' */
.icon-lake:before { content: '\e814'; } /* '' */
.icon-lys:before { content: '\e815'; } /* '' */
.icon-deadtree:before { content: '\e816'; } /* '' */
.icon-delete:before { content: '\e817'; } /* '' */
.icon-delete-cross:before { content: '\e818'; } /* '' */
.icon-dolmen:before { content: '\e819'; } /* '' */
.icon-download:before { content: '\e81a'; } /* '' */
.icon-dragon:before { content: '\e81b'; } /* '' */
.icon-elk:before { content: '\e81c'; } /* '' */
.icon-faction:before { content: '\e81d'; } /* '' */
.icon-farm:before { content: '\e81e'; } /* '' */
.icon-favicon:before { content: '\e81f'; } /* '' */
.icon-ferry:before { content: '\e820'; } /* '' */
.icon-flower:before { content: '\e821'; } /* '' */
.icon-map-new:before { content: '\e822'; } /* '' */
.icon-map-save:before { content: '\e823'; } /* '' */
.icon-mine:before { content: '\e824'; } /* '' */
.icon-mushroom:before { content: '\e825'; } /* '' */
.icon-map-load:before { content: '\e826'; } /* '' */
.icon-raspberry:before { content: '\e827'; } /* '' */
.icon-road:before { content: '\e828'; } /* '' */
.icon-rock:before { content: '\e829'; } /* '' */
.icon-ruin:before { content: '\e82a'; } /* '' */
.icon-ruin2:before { content: '\e82b'; } /* '' */
.icon-next:before { content: '\e82c'; } /* '' */
.icon-question:before { content: '\e82d'; } /* '' */
.icon-source:before { content: '\e82e'; } /* '' */
.icon-spiderweb:before { content: '\e82f'; } /* '' */
.icon-stag:before { content: '\e830'; } /* '' */
.icon-star:before { content: '\e831'; } /* '' */
.icon-statue:before { content: '\e832'; } /* '' */
.icon-strain:before { content: '\e833'; } /* '' */
.icon-swamp:before { content: '\e834'; } /* '' */
.icon-toad:before { content: '\e835'; } /* '' */
.icon-tomb:before { content: '\e836'; } /* '' */
.icon-village:before { content: '\e837'; } /* '' */
.icon-visibility:before { content: '\e838'; } /* '' */
.icon-visibility-off:before { content: '\e839'; } /* '' */
.icon-wheat:before { content: '\e83a'; } /* '' */
.icon-sign:before { content: '\e83b'; } /* '' */
.icon-tree:before { content: '\e83c'; } /* '' */
.icon-sunflower:before { content: '\e83d'; } /* '' */
.icon-tumulus:before { content: '\e83e'; } /* '' */
.icon-lizard:before { content: '\e83f'; } /* '' */
.icon-grove:before { content: '\e840'; } /* '' */
.icon-watchtower:before { content: '\e841'; } /* '' */
.icon-fortin:before { content: '\e843'; } /* '' */
.icon-inheritance:before { content: '\e844'; } /* '' */
.icon-griffon:before { content: '\e845'; } /* '' */
.icon-castle2:before { content: '\e846'; } /* '' */