.building{ 
  position: absolute; 
  z-index:10;
}
.temple{ height: 70px; }
.village{ height: 60px; }
.cabane{height: 40px;}
.house{ height: 60px; }
.camp{ height: 40px; }
.pont{ height: 40px; }
.bac{ height: 30px; }
.stag{ height: 100px; }


/* Ligne A */
.leningrad{
  top: 300px;
  left: 3600px;
}

.cabaneHiver{
  top: 350px;
  left: 3700px;
}

.stalingrad{
  top: 300px;
  left: 4100px;
}

.pripyat{
  top: 300px;
  left: 4780px;
}

/* Ligne B */
.levoca{
  top: 500px;
  left: 3700px;
}

.pont-levoca{
  top: 500px;
  left: 3800px;
}

.cabaneTrappeur{
  top: 480px;
  left: 3960px;
}

.moskva{
  top: 500px;
  left: 4670px;
}

/* Ligne C */
.volvograd{
  top: 685px;
  left: 3410px;
}

.temple-elk{
  top: 690px;
  left: 3880px;
}

.camp-kressle{
  top: 730px;
  left: 4130px;
}

.krasnoïarsk{
  top: 700px;
  left: 4800px;
}

/* Ligne D */
.pont-epine{
  top: 935px;
  left: 4180px;
}

.bac-aux-orties{
  top: 950px;
  left: 4688px;
}

/* Ligne E */
.rimlin{
  top: 1100px;
  left: 4800px;
}

/* Ligne F */
.stag {
  top: 1300px;
  left: 4210px;
}
