.ressource{ 
  position: absolute; 
  display: none;
  z-index:8;
}
.ble{ height: 70px; }
.mine{ height: 70px; }
.source{ height: 50px; }
.ruche{ height: 60px; }
.argile{ height: 50px; }
.raspberry{ height: 50px; }
.rock{ height: 50px; }


/* Ligne A */
.bleOleg{
  top: 300px;
  left: 4340px;
}

.blePripyat{
  top: 300px;
  left: 4850px;
}

.raspberryStalingrad{
  top: 370px;
  left: 4100px;
}

/* Ligne B */
.geode{
  top: 500px;
  left: 4240px;
}

.bleMoskva{
  top: 500px;
  left: 4740px;
}

/* Ligne C */
.bleVolvograd{
  top: 685px;
  left: 3480px;
}

.goldMine{
  top: 700px;
  left: 4330px;
}

/* Ligne D */
.rucheLila{
  top: 900px;
  left: 4000px;
}

.argileColoree{
  top: 880px;
  left: 4190px;
}

/* Ligne E */
.bleSource{
  top: 1100px;
  left: 4130px;
}

.sourcesChaudes{
  top: 1100px;
  left: 4070px;
}

.silverMine{
  top: 1100px;
  left: 4550px;
}
